
body {
    /*background:#eee;*/
}
h3 {
    font-size: 16px;
}
.text-navy {
    color: #1ab394;
}
.cart-product-imitation {
    text-align: center;
    height: 100%;
    width: 80px;
    border: 1px solid #ededed;
    border-radius: 2px;
}
.product-imitation.xl {
    padding: 120px 0;
}
.product-desc {
    padding: 20px;
    position: relative;
}
.ecommerce .tag-list {
    padding: 0;
}
.ecommerce .fa-star {
    color: #d1dade;
}
.ecommerce .fa-star.active {
    color: #f8ac59;
}
.ecommerce .note-editor {
    border: 1px solid #e7eaec;
}
table.shoping-cart-table {
    margin-bottom: 0;
}
table.shoping-cart-table tr td {
    border: none;
    text-align: right;
}
table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
    text-align: left;
}
table.shoping-cart-table tr td:last-child {
    width: 170px;
}
.custom_p {
    font-size: medium;
    margin-bottom: 5px;
}
.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}
.ibox.collapsed .ibox-content {
    display: none;
}
.ibox:after,
.ibox:before {
    display: table;
}
.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}
.cart_pimg {

}
.sale_off {
    background-color: #CC0C39;
    color: #fff;
    padding: 4px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
}
.deal_txt {
    color: #CC0C39;
    font-weight: bold;
    margin-bottom: 5px;
}
.label_tag {
    font-weight: bold;
    font-size: 14px;
}
.custom_input_qty {
    display: inline-block;
    width: 30px;
    margin: 0 5px;
    padding: 0;
    text-align: center;
}

.qty_label {
    display: inline-block;
}

.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}

.table>:not(caption)>*>* {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

a.add_coupon_btn {
    background-color: #8BC34A;
    color: #fff !important;
    padding: 10px;
    border-radius: 4px;
    font-size: 0.9rem;
}


a.remove_product_btn {
    color: #007185;
    margin-left: 0;
    padding: 0 0 0 10px;
    border-radius: 0;
    font-size: 0.9rem;
    font-weight: 400;
    border-left: 1px solid grey;
}

.see_more {
    color: #007185;
    margin-left: 0;
    padding: 0 0 0 10px;
    border-radius: 0;
    font-size: 0.9rem;
    font-weight: 400;
    border-left: 1px solid grey;
}

.see_more:hover {
    color: #007185;
    text-decoration: underline;
}

a.remove_product_btn:hover {
    color: #F44336;
    text-decoration: underline;
}

.btn-theme-checkout {
    background-color: #F44336;
    color: #fff;
}

.d-flex.hide {
    display: none !important;
}

/* table css */
.cart_table.table {
    width: 100%;
    min-height: 252px;
}
.ellipsis {
    position: relative;
}
.ellipsis:before {
    content: ' ';
    visibility: hidden;
}
.ellipsis p.small span {
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
